h1{
    border: 10px solid #f00;

   height: 50px;
   width: 500px;
   border-bottom:lawngreen  double ;

}

.square{
   padding-left: 2px;
   padding-right: 2px;
   padding-top: 3px;
   padding-bottom: 3px;
    margin-left: 60px;
    border: 4px black double;
    height: 200px;
    width:65px;
    
}
.circle1{
    padding:7px;
    background-color: #f00;
    height:50px;
    width:50px;
    border-radius: 50%;

}
.circle2{
    padding:7px ;
    background-color: rgb(228, 235, 49);
    height: 50px;
    width: 50px;
    border-radius: 50%;


}
.circle3{
    padding:7px ;
    background-color: rgb(29, 231, 29);
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
.container{
    height: 100px;
    width: 150px;
    background-color: yellow;
}
.box{
    background-color: #9e2424;
    height : 40px;
    margin: auto;/* give equal margin to left and right*/
}
span{
    padding: 4px;
    height: 200px;
    width: 400px;
    background-color: aqua;
}
.percentage{
    height: 600px;
    width: 250px;
    background-color: yellow;
}
.box1{
    background-color: #9e2424;
    height : 50%;
    margin: auto;/* give equal margin to left and right*/
}
.transition{
    width: 300px;
    height: 300px;
    background-color: bisque;
transition-property:all;/* for transitions */
transition-delay: 1s;
transition-timing-function: ease-in-out;
transition-duration:2s;
}
.transition:hover{
    width: 600px;
    height: 200px;
    background-color: blue;
}
.clue{
    width: 300px;
    height: 300px;
    background-color:blue;
    transition-property:all;/* for transitions */
transition-delay: 1s;
transition-timing-function: ease-in-out;
transition-duration:2s;
    opacity: 0;
}


.clue:hover{
    width: 600px;
    height: 200px;
opacity:.7;
}